[Unit]
Description=Librespot Spotify Connect
After=pipewire-system.service wireplumber-system.service network-online.target
Wants=network-online.target
Requires=pipewire-system.service

[Service]
User=REPLACE_USER
EnvironmentFile=/etc/echomux/echomux.conf
ExecStartPre=/bin/sleep 3
ExecStart=/usr/local/bin/librespot-pipewire.sh
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
